@page
@model Razor_CRUD.Pages.LogoutModel
@{
}
<form method="post">
    <div class="container mt-5">
        <div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <p>Log Out!?</p>
                    <p>
                        <button class="btn btn-primary" asp-page-handler="Logout">Yes</button>
                        <button class="bt btn-light border-dark" asp-page-handler="DontLogout">No</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
